<div id ="footer">

     <!-- NOME -->
    <p class="footer-nome">Desenvolvedora: Rita de Cássia Santos Rangel</p>

    <!-- CRÉDITOS -->
    <div class="footer-creditos">
        <p class="footer-creditos-txt">Créditos do Figma Design Comunity:</p>
        <p class="footer-creditos-txt">Layout da página principal:&nbsp;<a
                href="https://www.figma.com/community/file/1123976164557247385/Game-Store-Design">
                Game Store Design</a></p>
        <p class="footer-creditos-txt">Layout do formulário:&nbsp;<a
                href="https://www.figma.com/community/file/990715552114977823/Flexible-Form-Template">
                Flexible Form Template</a></p>
    </div>
</div>