<div class="header-bar">
    <!-- TÍTULO -->
    <div class="header-titulo">
        <div class="header-logo-img"><img src="assets/logo.png" alt="image"></div>
        <p class="header-nome">Consultor de CEP</p>
    </div>

    <!-- NAVEGAÇÃO -->
    <div class="header-nav">
        <a class="header-nav-itens active" (click)="Navegar('inicio')">Início</a>
        <a class="header-nav-itens" (click)="Navegar('formulario')">Formulário</a>
    </div>

    <!-- HEADER FINAL IMAGE -->
    <div class="header-logo-img2"><img src="assets/logo2.png" alt="image"></div>
</div>